<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
		
	<context:annotation-config/>	
	<context:component-scan base-package="com.user"></context:component-scan>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/activiti?createDatabaseIfNotExist=true&amp;serverTimezone=GMT%2b8&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<bean id="ownUserManagerFactory" class="com.user.OwnUserManagerFactory">
		<constructor-arg ref="userServiceImpl" index="0"></constructor-arg>
	</bean>
	
	<bean id="ownGroupMagagerFactory" class="com.user.OwnGroupMagagerFactory">
		<constructor-arg ref="groupServiceImpl"></constructor-arg>
	</bean>
	
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		<property name="customSessionFactories">			
			<list>
				<ref bean="ownUserManagerFactory"/>
				<ref bean="ownGroupMagagerFactory"/>
			</list>
		</property>
	</bean>

	<bean id="processEngineFactory" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngineFactory"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngineFactory"
		factory-method="getRuntimeService" />
	<bean id="formService" factory-bean="processEngineFactory"
		factory-method="getFormService" />
	<bean id="identityService" factory-bean="processEngineFactory"
		factory-method="getIdentityService" />
	<bean id="taskService" factory-bean="processEngineFactory"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngineFactory"
		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngineFactory"
		factory-method="getManagementService" />

	<import resource="classpath:spring-mybatis.xml" />
</beans>
